/* pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/*table & mobile */
@media (max-width: 991.8px) {
  .navbar {
    display: none;
  }

  .header-top {
    position: relative;
    width: 100%;
    height: 44px;
  }

  .header__action {
    position: absolute;
    right: 0;
  }

  .header-logo {
    position: absolute;
    left: 40%;
  }

  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
  }

  /* overlay */
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* menu-content */
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #2e1919;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__close {
    color: #fff;
  }

  #navbar__list--mobile {
    margin-top: 20px;
    row-gap: 40px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
    line-height: 3.5;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }

  .hero__content {
    order: 2;
  }

  .hero__media {
    order: 1;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* service */
  .service__row {
    flex-direction: column;
  }

  .service__list {
    margin-top: 22px;
    text-align: center;
  }

  /* work */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
  }

  .about__img--small {
    display: none;
  }

  .about__img--large {
    width: 100%;
    height: 100%;
  }

  .about-content {
    margin-top: 40px;
    width: 70%;
    text-align: center;
  }

  /* team list */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .team-item__thumb {
    margin: 0 auto;
  }

  /* install */
  .install__img {
    display: none;
  }

  .install__content {
    width: 90%;
    margin: 0 auto;
  }

  /* block*/
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__list {
    order: 1;
  }

  .blog__heading {
    max-width: 90%;
  }
}

/* table */
@media (min-width: 768px) and (max-width: 991.8px) {
  /* footer */
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .header-logo {
    position: relative;

    left: 10%;
    padding-bottom: 10px;
  }

  .show-on-mobile {
    display: none;
  }
}

/* mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }

  .show-on-mobile li {
    list-style: none;
  }

  .menu-drawer {
    inset: 0 30% 0 0;
    padding: 30px;
  }
  .show-on-mobile {
    border-top: 1.5px solid #8c8b8d;
  }

  /* hero */
  .hero__img-small {
    display: none;
  }

  .hero__img-large {
    width: 100%;
    height: auto;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__row {
    flex-direction: column;
    row-gap: 30px;
  }

  /* service */
  .service {
    padding: 70px;
  }

  .service__heading {
    font-size: 3.9rem;
  }

  .service__desc {
    width: 100%;
  }

  .service__img {
    width: 100%;
    height: auto;
  }

  .service-item {
    width: 370px;
  }

  /* work */
  .word__desc {
    width: 100%;
  }

  .work-item {
    padding: 20px;
  }
  /* about */
  .about {
    margin-top: 20px;
    padding: 40px 0;
  }

  .section-heading {
    font-size: 3rem;
  }

  /* team */
  .team__list {
    grid-template-columns: 1fr;
  }
  .team-item {
    text-align: center;
  }

  /* install */
  .install__inner {
    margin: 40px 0;
    padding: 0 8px;
  }

  .install__content {
    min-width: 250px;
  }

  .install__desc {
    font-size: 1.3rem;
  }

  /* block */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .blog__heading{
    text-align: center;
  }

  /* appointment */
  .appointment__inner{
    padding: 10px 5px;
  }

  /* footer */
  .footer__top{
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .header-logo{
    position: relative;
    left: 0px;
  }

  .footer__copyright{
    margin-top: 20px;
  }
}

